/* Estilo general */
* {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: black;
  size: 100%;
}

ul {
  list-style-type: none;
}

.button {
  display: block;
  text-align: center;
  margin-top: 1rem;
}
.button input[type=submit], .button input[type=reset] {
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #bfb6b6;
  color: #332f2f;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.06s ease;
}
.button input[type=submit]:hover, .button input[type=reset]:hover {
  background-color: #762020;
  color: #bfb6b6;
  transition-delay: 0.1s;
  box-shadow: 0 0 18px rgba(203, 8, 8, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
}

/***** Main *****/
#bgimage {
  min-height: 100vh;
  background-image: url(../images/indexbg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}

.main__home {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: start;
  flex-wrap: nowrap;
  text-align: start;
  line-height: 1;
  font-size: 25px;
  text-transform: uppercase;
  color: #ececec;
  margin-left: 1rem;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
}
.main__home:first-child {
  margin-top: 30px;
}

h1 span {
  letter-spacing: 1.4px;
}

.titilar:hover {
  animation: titilar 0.8s infinite;
  color: #762020;
  transition: transform 0.2s ease-in-out;
}

@keyframes titilar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.main__logo {
  display: flex;
  justify-content: center;
}

#band1 {
  margin: 50px;
  height: 500px;
  width: auto;
}

/*****responsive*****/
@media (max-width: 1024px) {
  .main__home {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  #bgimage {
    min-height: 100vw;
    background-size: contain;
    align-items: center;
  }
  .main__home {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  #bgimage {
    background-size: 60vh;
  }
  .main__home {
    font-size: 13px;
  }
}
.footer {
  bottom: 0;
}

/***** About us *****/
.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.aboutus h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0 30px 0;
  font-size: 42px;
  color: #bfb6b6;
  text-shadow: 0 0 15px rgba(227, 137, 137, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
}
.aboutus p {
  color: #bfb6b6;
  letter-spacing: 0.4px;
  word-spacing: -0.6px;
  font-size: 20px;
}
.aboutus .member p {
  margin: 10px 10px;
}
.aboutus .member a {
  font-weight: bolder;
  text-decoration: none;
  font-style: italic;
  color: #7b7676;
}
.aboutus .member a:hover {
  color: #983f3f;
  text-decoration: underline;
}

.band .band__pic {
  display: flex;
  justify-content: center;
}
.band img {
  width: 95%;
  height: auto;
  margin-bottom: 20px;
}
.band .band__description {
  color: #bfb6b6;
  letter-spacing: 0.4px;
  word-spacing: -0.6px;
  text-align: center;
  font-size: 14px;
  margin: 20px 5rem 0 5rem;
}

.members_effect {
  color: #E5383B;
  word-spacing: 0.6px;
  animation: titilar 1s infinite;
}

@keyframes titilar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
.member__imageroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #bfb6b6;
  border: solid 8px #652727;
  margin-bottom: 10rem;
}
.member__imageroll a {
  display: flex;
  justify-content: space-around;
}
.member__imageroll img {
  width: 90%;
  padding: 8px;
  cursor: pointer;
}
.member__left {
  display: flex;
  margin-bottom: 8rem;
}
.member__left__image {
  margin-left: 5rem;
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
.member__left__image:hover {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(-2deg) scale(1.02);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.member__left__image img {
  cursor: pointer;
}
.member__left__description h2, .member__right__description h2 {
  color: #652727;
  text-decoration: underline;
  font-size: 18px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
}
.member__left__list, .member__right__list {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
  color: #7b7676;
  list-style-type: armenian;
}
.member__right {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 8rem;
}
.member__right__image {
  margin-right: 5rem;
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}
.member__right__image:hover {
  -webkit-transform: rotate(15deg) scale(1.4);
  transform: rotate(2deg) scale(1.02);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.member__right__image img {
  cursor: pointer;
}
/*right*/
.aboutus .member__right__description {
  text-align: right;
}

.bullets-right {
  text-align: right;
  list-style-type: armenian;
  direction: rtl;
}

/*****responsive*****/
@media (max-width: 1024px) {
  .member__left__image img, .member__right__image img {
    width: 30rem;
  }
  .member__left__list, .member__right__list {
    font-size: 15px;
  }
  .member__left__h2, .member__right__h2 {
    font-size: 15px;
  }
  .aboutus p {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .band__pic {
    width: 99%;
  }
  .aboutus h1 {
    font-size: 35px;
  }
  .aboutus p {
    font-size: 14px;
    text-align: center;
    list-style-type: none;
  }
  .member__left, .member__right {
    flex-direction: column;
    margin: 5rem 8rem;
  }
  .member__left__list, .member__right__list, .member__left__description h2, .member__right__description h2 {
    font-size: 14px;
    text-align: center;
    list-style-type: none;
  }
  .member__left__image img, .member__right__image img {
    width: 90%;
  }
  .member__right__image {
    margin-left: 0;
  }
  .member__imageroll {
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem;
  }
  .member__imageroll img {
    width: 90%;
    padding: 8px;
  }
  .member__right__image img {
    margin: 0 4rem;
  }
  .aboutus .member__right__description {
    text-align: center;
  }
  .bullets-right {
    text-align: center;
    list-style-type: none;
    direction: ltr;
  }
}
@media (max-width: 551px) {
  .member__left, .member__right {
    margin: 5rem 1.5rem 5rem 0;
  }
}
@media (max-width: 320px) {
  .aboutus h1 {
    font-size: 25px;
  }
  .aboutus p {
    font-size: 12px;
  }
  .band .band__description {
    margin: 20px 2rem 0 2rem;
  }
  .member__imageroll {
    display: none;
  }
  .member__left, .member__right {
    margin: 0;
  }
  .member__left__description h2, .member__right__description h2 {
    font-size: 12px;
  }
  .member__left__list, .member__right__list {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 12px;
  }
  .member__left__image, .member__right__image {
    -webkit-transform: none;
    transform: none;
    margin-top: 4rem;
  }
  .member__left__image:hover, .member__right__image:hover {
    -webkit-transform: none;
    transform: none;
  }
  .member__left {
    width: 92%;
  }
  .member__left__image {
    width: 100%;
    margin-left: 1.5rem;
  }
  .member__right__image {
    width: 92%;
    margin-left: 1.5rem;
  }
  .member__right__image img {
    margin: 0;
  }
  .member__right:last-child {
    margin-bottom: 5rem;
  }
}
/***** News *****/
.mainnews {
  display: flex;
}

#newsgif {
  position: sticky;
  left: 0;
  top: 0;
  width: 240px;
}

.outer-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 1fr));
  grid-gap: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.outer-grid h2 {
  font-variant: small-caps;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  color: #762020;
  margin-bottom: 20px;
}
.outer-grid a {
  font-style: italic;
  font-weight: 500;
  color: #652727;
  cursor: pointer;
}

.grid-container {
  width: 90%;
  height: auto;
  overflow: hidden;
  background-color: #bfb6b6;
  color: #212121;
  padding: 20px;
  text-align: center;
}
.grid-container p, .grid-container a {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.little-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: repeat(2, minmax(50px, 1fr));
  column-gap: 10px;
}

.grid-item img {
  width: 100%;
  height: 306px;
}

.image {
  width: 100%;
  margin-bottom: 10px;
}

.lyrics {
  text-align: center;
  font-size: 14px;
  margin: 10px;
  border-style: dashed;
  border-width: 2px;
  border-color: #983f3f;
  border-radius: 20px;
  padding: 20px;
}
.lyrics p {
  margin: 0;
}

.hashtag {
  font-style: italic;
  font-weight: 200;
  color: #983f3f;
}
.hashtag:hover {
  color: #212121;
  cursor: pointer;
}

/*****responsive*****/
@media (max-width: 1368px) {
  #newsgif {
    width: 15rem;
  }
}
@media (max-width: 1080px) {
  .outer-grid {
    column-gap: 1px;
  }
  .grid-container {
    max-width: 100%;
    column-gap: 2px;
  }
  .grid-item img {
    height: 110%;
    padding: 16px 0;
  }
}
@media (max-width: 850px) {
  .outer-grid {
    grid-gap: 10px;
  }
  .grid-container {
    max-width: 85%;
    grid-gap: 1px;
  }
}
@media (max-width: 780px) {
  #newsgif {
    display: none;
  }
  .redes-sociales ul {
    display: flex;
    flex-direction: column;
  }
  .outer-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .grid-container {
    width: 85%;
  }
  .little-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(50% px, 1fr));
    grid-template-rows: repeat(2, minmax(50%, 1fr));
    column-gap: 10px;
  }
  .grid-item img {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
/***** Discography *****/
/*covers grid*/
.discography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.discography h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 40px;
  margin-top: 3rem;
}
.discography h1:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  text-shadow: 0 0 5px rgba(227, 137, 137, 0.586), 0 0 10px rgba(255, 255, 255, 0.225);
}

.discography__cds {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.discography__cds__cover {
  position: relative;
  display: inline-block;
}
.discography__cds__cover__hover {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.discography__cds__cover__hover p {
  margin-bottom: 1rem;
  font-size: 70%;
}
.discography__cds__cover:hover .discography__cds__cover__hover {
  opacity: 1;
}
.discography__cds span {
  color: white;
}
.discography__cds img {
  cursor: pointer;
}
.discography__cds img:hover {
  opacity: 0.6;
}

.separatorgif {
  display: flex;
  justify-content: center;
  scale: 0.8;
  opacity: 0.7;
  margin-top: 2rem;
}

/*albums*/
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.album {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 80%;
  margin: 20px;
  padding: 20px;
}
.album:last-child {
  margin-bottom: 10rem;
}
.album_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
}

.cover {
  width: 50vh;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.2s ease-in-out;
}
.cover:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.minialbums,
.digitalsingles {
  margin-left: 10rem;
}
.minialbums h1,
.digitalsingles h1 {
  font-size: 40px;
  font-weight: 700;
  font-style: oblique;
  font-variant: small-caps;
  color: #762020;
  display: inline;
  letter-spacing: 3px;
  text-transform: lowercase;
  font-weight: 800;
}
.minialbums h1:hover,
.digitalsingles h1:hover {
  transition: all 0.5s;
  text-shadow: 0 0 5px rgba(83, 9, 9, 0.586), 0 0 10px rgba(255, 255, 255, 0.256);
}
.minialbums p,
.digitalsingles p {
  color: #bfb6b6;
  font-size: 18px;
  text-align: justify;
}

.digitalsingles a {
  color: #762020;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}

.minialbums ol {
  list-style-type: upper-roman;
  font-size: 18px;
  color: #bfb6b6;
  margin: 10px 100px;
}

.separador {
  display: flex;
  justify-content: center;
  scale: 0.3;
  opacity: 0.7;
}

/*****responsive*****/
@media (max-width: 1024px) {
  .redes-sociales {
    z-index: 1;
  }
  .discography__cds {
    grid-template-columns: repeat(2, 1fr);
  }
  .cover {
    width: 40vh;
  }
  .minialbums,
  .digitalsingles {
    margin-left: 10rem;
  }
  .album_info h1 {
    font-size: 38px;
  }
  .minialbums ol {
    margin: 10px 50px;
  }
  .minialbums h1:first-child {
    margin-top: 0;
  }
}
@media (max-width: 771px) {
  .minialbums,
  .digitalsingles {
    margin-left: 2rem;
  }
  .description {
    display: inline;
    width: 100%;
  }
  .cover {
    width: 130%;
  }
  .album {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
  }
  .album_info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 5rem;
  }
  .separatorgif {
    display: flex;
    justify-content: center;
    scale: 0.5;
    opacity: 0.7;
    margin-top: 2rem;
  }
  .separador {
    display: flex;
    justify-content: flex-start;
    scale: 0.3;
    opacity: 0.7;
  }
}
@media (max-width: 551px) {
  .discography__cds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .separador {
    justify-content: center;
  }
  .minialbums,
  .digitalsingles {
    margin-left: none;
  }
  .cover {
    margin-left: 1.5rem;
    width: 100%;
  }
  .album {
    margin: 0;
    padding: 0;
  }
  .album_info {
    margin-left: 1.5rem;
  }
  .album_info h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
  }
}
@media (max-width: 321px) {
  .discography h1 {
    font-size: 35px;
  }
  .discography__cds__cover img {
    width: 100%;
  }
  .separatorgif {
    scale: 0.3;
  }
  .cover {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 40vh;
  }
  .album {
    max-width: 90%;
  }
  .album_info {
    margin-right: 2rem;
  }
  .album_info h1 {
    width: 35vh;
    font-size: 28px;
    margin-bottom: 10px;
  }
  .album_info p, .album_info ol {
    font-size: 14px;
    width: 100%;
  }
}
/***** Contact us *****/
.contact {
  background-image: url("../images/bg.jpg");
  background-color: #212121;
  background-size: cover;
  margin-bottom: 20px;
}

main fieldset {
  border: none;
  text-align: left;
}
main label {
  color: #bfb6b6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
main .container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(33, 33, 33, 0.5647058824);
}
main .container fieldset {
  margin-left: 3rem;
}
main .container input[type=checkbox] {
  cursor: pointer;
}
main .container span {
  max-inline-size: 100px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #bfb6b6;
  font-weight: 500;
  text-align: left;
}
main .container input[type=text], main .container input[type=email], main .container select, main .container textarea {
  width: 83%;
  padding: 12px;
  border: 2px solid #bfb6b6;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Barlow", sans-serif;
}

select:required:invalid {
  color: gray;
}

/* STORE */
.product-container {
  max-width: 100rem;
  padding-inline: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  grid-gap: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.product-container .product-grid .card {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1.5;
  background-color: #000;
}

.product-container .product-grid .card .card_img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

@media (min-width: 60em) {
  .product-container .product-grid .card .card_img {
    aspect-ratio: 1/1;
  }
}
.product-container .product-grid .card p.max-content {
  width: max-content;
}

.product-container .product-grid .card p.min-content {
  width: min-content;
}

.product-container .product-grid .card .card_content {
  margin: 0.5rem 0.5rem 2rem;
  padding: 0.5rem;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
  color: #fcf2f2;
  text-align: center;
}

.product-container .product-grid .card .card_title {
  font-size: 1.25rem;
  line-height: 1.1;
}

.product-container .product-grid .card .card_title p {
  margin-bottom: 20px;
}

.product-container .product-grid .card .card_price {
  font-size: 1rem;
}

.product-container .product-grid .card .card_content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.product-container .product-grid .card .card_options {
  font-size: 1rem;
  font-weight: 500;
  background-color: #7e7e7e;
  border: none;
  border-radius: 4px;
  color: #fcf2f2;
  margin: 5px 0;
  padding: 9px 20px;
  text-align: center;
}

.product-container .product-grid .card input[type=submit] {
  width: 100%;
  font-weight: 700;
  background-color: #424242;
  color: #fcf2f2;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-container .product-grid .card input[type=submit]:hover {
  background-color: #686767;
}

#abrirCarrito {
  position: fixed;
  right: 20px;
  top: 20px;
}

#carritoModal {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #3b1717;
  color: #fcf2f2;
  padding: 2rem;
}

#formularioPago {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(33, 33, 33, 0.8117647059);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
#formularioPago h2,
#formularioPago p {
  color: #bfb6b6;
  margin-bottom: 5px;
  text-align: center;
}
#formularioPago p {
  background-color: #652727;
  padding: 10px;
  font-weight: 800;
}
#formularioPago fieldset {
  border: none;
  text-align: left;
}
#formularioPago label {
  color: #bfb6b6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}
#formularioPago .container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(33, 33, 33, 0.5647058824);
}
#formularioPago .container fieldset {
  margin-left: 3rem;
}
#formularioPago .container span {
  max-inline-size: 100px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #bfb6b6;
  font-weight: 500;
  text-align: left;
}
#formularioPago .container input[type=text], #formularioPago .container input[type=email], #formularioPago .container select, #formularioPago .container textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #bfb6b6;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Barlow", sans-serif;
}
#formularioPago .container input[type=submit] {
  width: auto;
  margin-bottom: 2rem;
  align-self: flex-end;
}

#endShopping, #pagarButton {
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #bfb6b6;
  color: #332f2f;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.06s ease;
}
#endShopping:hover, #pagarButton:hover {
  background-color: #762020;
  color: #bfb6b6;
  transition-delay: 0.1s;
  box-shadow: 0 0 18px rgba(203, 8, 8, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
}

/* estilos OUT OF STOCK*/
.not-available {
  background-color: #652727 !important;
  color: #bfb6b6 !important;
  pointer-events: none;
}

#errorimage {
  min-height: 100vh;
  background-image: url(../images/error404.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  margin: 30px 0;
}

.errorimage__message {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  text-align: start;
  line-height: 1.5;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
}
.errorimage__message p {
  text-align: center;
}
.errorimage__message p:first-child {
  margin-top: 70%;
}
.errorimage__message p:last-child {
  margin-bottom: 10%;
}
.errorimage__message a {
  text-decoration: overline underline white;
  text-underline-offset: 8px;
  color: #ececec;
  letter-spacing: 1.8px;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s infinite;
}

/*****responsive*****/
@media (max-width: 550px) {
  #errorimage {
    min-height: 100vw;
    background-size: contain;
    align-items: center;
  }
  .errorimage__message {
    font-size: 15px;
  }
  .errorimage__message a {
    text-underline-offset: 6px;
  }
}
@media (max-width: 320px) {
  #errorimage {
    background-size: 60vh;
  }
  .errorimage__message {
    font-size: 13px;
  }
  .errorimage__message a {
    text-underline-offset: 4px;
  }
}
.footer {
  bottom: 0;
}

/***** Header *****/
.header__logo {
  display: flex;
  justify-content: center;
}

#bandlogo {
  width: 25rem;
  height: auto;
  margin-top: 50px;
  cursor: pointer;
}

/*redes*/
.redes-sociales {
  position: fixed;
  top: 0;
  left: 0;
}

.red-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #bfb6b6;
  background-color: rgba(255, 255, 255, 0.316);
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.red-social i {
  font-size: 20px;
}
.red-social:hover {
  background-color: #652727;
  color: #000;
}

/*shop*/
.shop {
  position: fixed;
  top: 0;
  right: 0;
}

.shop-cart {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #bfb6b6;
  background-color: rgba(255, 255, 255, 0.316);
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.shop-cart i {
  font-size: 20px;
}
.shop-cart:hover {
  background-color: #652727;
  color: #000;
}

/*****responsive*****/
@media (max-width: 320px) {
  #bandlogo {
    width: 20rem;
    height: auto;
    margin-top: 50px;
  }
}
/***** Footer *****/
footer {
  width: 100%;
  bottom: 0;
  background-color: rgba(101, 39, 39, 0.3176470588);
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
  color: #bfb6b6;
}
footer p {
  color: #bfb6b6;
}
footer ul li a:hover {
  color: #332f2f;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

/* top */
.top {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #bfb6b6;
  background-color: #332f2f;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.top-top i {
  font-size: 15px;
}
.top:hover {
  background-color: #652727;
  color: #000;
}

/*navbar*/
.header {
  border-bottom: 4px solid #3b1717;
}
.header nav {
  text-align: center;
  padding: 15px;
}
.header nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #bfb6b6;
}
.header ul {
  justify-content: space-around;
  text-transform: uppercase;
}
.header ul li a {
  color: #bfb6b6;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

.hover {
  display: inline-block;
  position: relative;
  letter-spacing: 2px;
}
.hover::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.nav-list li a {
  text-decoration: none;
}

#button-right {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  right: 0;
}

.hamburguesa {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.hamburguesa li {
  margin-right: 10px;
}
.hamburguesa li a {
  text-decoration: none;
  color: white;
}

/*****responsive*****/
@media screen and (max-width: 551px) {
  .shop,
  .redes-sociales {
    display: none;
  }
  .hamburguesa {
    display: block;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.4rem;
    background-color: transparent;
    color: #ececec;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3b1717;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  .nav li a {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}

/*# sourceMappingURL=style.css.map */
