/* Estilo general */
* {
    margin: 0;
    padding: 0;
    cursor: default;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: black;
    size: 100%;
}

ul {
    list-style-type: none;
}